<%= form_with(model: owner, class: "contents", url: game_owner_path(game)) do |form| %>
  <% if owner.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
        <% owner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="flex-col prose mt-2">
    <div class="form-control">
        <%= form.label :name, class: "label" do %>
          <span class="label-text text-xl">オーナーID(編集不可)</span>
        <% end %>
        <%= form.text_field :name, readonly: true, class: "input input-xl" %>
    </div>
    <div class="form-control">
        <%= form.label :password, class: "label" do %>
          <span class="label-text text-xl">ふっかつのじゅもん（編集可、20文字まで)</span>
        <% end %>
        <%= form.text_field :password, required: true, max_length: 20, class: 'input input-xl bg-white w-full' %>
    </div>
  </fieldset>

  <div class="form-control">
    <%= form.submit t("form.submit"), class: "btn btn-primary btn-wide my-5" %>
  </div>
<% end %>
