<h1 class="font-bold text-4xl">ルール設定</h1>

<%= form_with(model: game, class: "contents") do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="flex-col prose mt-2">

    <div class="form-control">
      <p>
        <%=form.label :title, class: "label" do %>
          <span class="label-text text-xl">ゲームのタイトルは?</span>
        <% end %>
        <%=form.text_field :title, class: "input input-bordered input-md w-full max-w-xs bg-white", required: true, placeholder: "みんなのビンゴ" %>
      </p>
    </div>
    <div class="form-control not-prose" data-controller="form">
      <p class="mb-4">
        <%= form.label :max_players, class: "label" do %>
          <span class="label-text text-xl">何名でプレイしますか?</span>
        <% end %>
        <%= form.number_field :max_players, in: 1..100, min:1, max: 100, class: "input input-bordered input-sm bg-white w-16 inline", data: {action: "form#adjustInputNumber"} %>人 <span>(最大100人)</span>
      </p>
    </div>
    <div class="awards form-control not-prose" data-controller="award form" data-award-hidden-class="hidden">
      <p class="mb-4">
        <%= form.label :need_bingo_lines, class: "label" do %>
          <span class="label-text text-xl">ビンゴを何ライン揃えたら賞品がもらえますか?</span>
        <% end %>
        <%= form.number_field :need_bingo_lines, in: 1..10, min:1, max:10, class: "input input-bordered input-sm bg-white w-16 inline", data: {action: "form#adjustInputNumber"} %>ライン <spa>(最大10ライン)</spa>
      </p>
      <p class="mb-4">
        <%= form.label :max_winners, class: "label" do %>
          <span class="label-text text-xl">賞品をもらえる人数は何人にしますか?</span>
        <% end %>
        <%= form.number_field :max_winners, in: 1..10, data: {action: "form#adjustInputNumber award#changeInputList"}, min:1, max:10, class: "input input-bordered input-sm bg-white w-16 inline" %>人 <span>(最大10人)</span>
      </p>
        <%= form.fields_for :awards do |awards_form| %>
          <p class="awards-form mb-2" data-award-target="awardForm">
            <%= awards_form.label :title, class: "label" do %>
              <span class="label-text text-xl">賞品<%= awards_form.object.order_number.to_s %></span>
            <% end %>
            <%= awards_form.text_field :title, required: true, class: "input input-bordered input-md bg-white", placeholder: "賞品名を登録！" %>
            <%= awards_form.hidden_field :order_number %>
            <%= awards_form.hidden_field :_destroy, value: 0 %>
          </p>
        <% end %>
    </div>
    <h3 class="my-2">賞品の受けとりは先着順ですか？</h3>
    <div class="form-control">
      <label class="label cursor-pointer w-48">
        <span class="label-text text-xl">はい、先着順です</span>
        <%= form.radio_button :random_awards, false, class: "radio radio-info" %>
      </label>
      <label class="label cursor-pointer w-48">
        <span class="label-text text-xl">いいえ、抽選です</span>
        <%= form.radio_button :random_awards, true, class: "radio radio-info" %>
      </label>
    </div>
  </fieldset>
  <div class="form-control">
    <%= form.submit t("form.submit"), class: "btn btn-primary btn-wide my-5" %>
  </div>
<% end %>
