<%= form_with(model: game, class: "contents") do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="items-center">
    <p class="">
      <%=form.label :title, "ゲームタイトル" %>
      <%=form.text_field :title, required: true %>
    </p>
    <p>
      <%=form.label :max_players, "何名でプレイしますか？" %>
      <%=form.number_field :max_players, in: 1..100 %>人
    </p>
    <p>
      <%=form.label :need_bingo_lines, "何本ラインを揃えたら賞品がもらえますか？" %>
      <%=form.number_field :need_bingo_lines, in: 1..12 %>本
    </p>
    <p>
      <%=form.label :max_winners, "賞品をもらえる人数は何人にしますか？" %>
      <%=form.number_field :max_winners, in: 1..10 %>人
    </p>
    <h2 class="block">人数分の賞品を登録しましょう</h2>
    <p>
      <%= form.fields_for :awards do |awards_form| %>
        <%=awards_form.label :title, '賞品名称' %>
        <%= awards_form.text_field :title, required: true %>
      <% end %>
    </p>
    <p>
      <%=form.label :entry_period_minutes, "開始までの制限時間を決めましょう" %>
      <%=form.number_field :entry_period_minutes, required: true, in: 1..30 %>分間募集する
    </p>
    <h2>賞品は先着順ですか？</h2>
    <p>
      <%=form.radio_button :random_awards, false %>
      <%=form.label :random_awards_false, "はい、先着順です" %></p>
    <p>
      <%=form.radio_button :random_awards, true %>
      <%=form.label :random_awards_true, "いいえ、抽選です" %>
    </p>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
