<div id="<%= dom_id game %>">
  <% if action_name != "show" %>
    <%= content_tag( :h3, class: "text-3") do %>
        タイトル: <%= game.title %>
    <% end %>
    <%= content_tag :h4, class: "text-3" do %>
      進行状況: <%= game.status %>
    <% end %>
    <%= link_to "Show this game", game, class: "btn btn-accent" %>
    <%= link_to 'Edit this game', edit_game_path(game), class: "btn btn-secondary" %>
    <hr class="mt-6">
  <% end %>
</div>
