<%= form_with(model: player, class: "contents") do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="flex-col prose my-5">
    <div class="form-control">
      <%= form.fields_for :user do |user_form| %>
        <div class="join w-full">
          <%= user_form.text_field :name, class: "input input-bordered join-item w-full", placeholder: User.human_attribute_name("name"), required: true %>
          <%= form.submit value: action_name == 'new' ? '申し込む': '更新する', class: "btn btn-success join-item rounded-r-full" %>
        </div>
      <% end %>
    </div>
  </fieldset>
  <%= form.hidden_field :game_id, value: game.id %>
<% end %>
